
// ko with:settings
.__i__settings(data-bind="css:{show:$data.view}")
    .__i__align
        a.__i__top(data-bind="click:function(){__i__.resize.top()}.bind(this)")
        a.__i__left(data-bind="click:function(){__i__.resize.left()}.bind(this)")
        a.__i__full(data-bind="click:function(){__i__.resize.full()}.bind(this)")
        a.__i__right(data-bind="click:function(){__i__.resize.right()}.bind(this)")
        a.__i__bottom(data-bind="click:function(){__i__.resize.bottom()}.bind(this)")
// /ko
