_cyan       = #1abc9c
_green      = #2ecc71
_blue       = #3498db
_magenta    = #9b59b6
_black      = #34495e
_yellow     = #f1c40f
_orange     = #e67e22
_red        = #e74c3c
_white      = #ecf0f1
_grey       = #95a5a6
