
.__i__
    .__i__grip
        i.fa.fa-ellipsis-h
    ul.__i__nav
        li.__i__console
            i.fa.fa-terminal
            span Console
        li.__i__settings(data-bind="click:function(){$data.settings.view(!$data.settings.view())}")
            i.fa.fa-cog
    .__i__content
        include ../settings/_view

